/* Fondo general con degradado */
.fondo {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Contenedor centrado */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

/* Tarjeta de login */
.login-card {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 500px;

}

/* Logo */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

/* Título */
.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Estilos de formulario */
.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.input-container {
  position: relative;
}

.form-input {
  width: 80%;
  padding: 10px 10px 10px 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-invalid {
  border-color: red;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

/* Botón de iniciar sesión */
.login-button {
  padding: 10px;
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #005bb5;
}

/* Mensajes de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Link de registro */
.register-link {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.register-link a {
  color: #0072ff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Popup de alerta */
.alert-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff4d4d;
  padding: 10px;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
