<mat-toolbar color="primary" class="toolbar">
  <!-- Logo -->
  <img src="../../../../assets/images/logo-c.png" alt="Logo" height="50" style=" border-radius: 50%;margin-right: 10px;">

  <span style="font-size: 28px">FrostChef</span>

  <span class="spacer"></span>

  <!-- Botones de Navegación -->
  <button mat-button class="nav-button" (click)="onNavItemSelected('home')">
    <mat-icon >home</mat-icon>
    Home
  </button>

  <button mat-button class="nav-button" (click)="onNavItemSelected('inventory')">
    <mat-icon>inventory</mat-icon>
    Inventory
  </button>

  <button mat-button class="nav-button" (click)="onNavItemSelected('team')">
    <mat-icon>group</mat-icon>
    Collaborators
  </button>

  <!-- Icono de configuraciones -->
  <button mat-icon-button class="settings-button" (click)="onSettingsClick()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>


<router-outlet></router-outlet>
